// ---------------------------------------------------------
// import font
// ---------------------------------------------------------
@import url("https://use.typekit.net/ndm2qpl.css");

// ---------------------------------------------------------
// variables de polices
// ---------------------------------------------------------
$font: "Futura PT";
$font2: "Montserrat";
$w_text: 400;
$s_text: 1.5rem;
$w_title: 600;
$s_title: 2rem;

// ---------------------------------------------------------
// variables de couleurs
// ---------------------------------------------------------
$blue: #1E2DB6;
$black: #0a0b0c;
$light-blue: #777F9B;
// ---------------------------------------------------------
// variables d'unités
// ---------------------------------------------------------
$unit: 30px;